body{
  text-align: center;
}
hr{
  width:30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.text{
  margin-top: 20%;
  padding-bottom: 10%;

}
section{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#title{

  background-image: url('images/image2.jpg');
  height: 40rem;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

  h1{
    color: white;
    font-family: 'Modak', cursive;
    font-size: 3rem;
    line-height: 1.5;
  }
  h2{
    color :black;
  }
  .T1{
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;

  }
  .container-fluid{
    padding: 3% 15%;

  }
  .T7{
    padding-bottom: 4rem;
  }
  #T4{
    background-color: #ff4c68;
    height: auto;
  }
#T5{
  background-color: #ff4c68;
  height: auto;
}
.T6{

  padding-top:8rem;
  padding-bottom: 1rem;
}
.T7{
  padding-top: 3rem;
}
 .T8{
   padding: 1rem;
 }




#features{

  padding: 7% 15%;
  color: black;
  text-align: center;
}

h3{
  font-family: 'Modak', cursive;
}
.icon:hover{
  color: magenta;
}
#testimonials{
  margin-top: 2rem;
  background-color: white;
  text-align: center;
  color: Black;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
}
.testimonial-text{
  margin: 10%;
}
.carousel-item{
  padding: 7% 15%;
}
#T3{
  margin-top: 2rem;
  background-color: white;
  text-align: center;
  color: Black;
}
#T4{
  margin-top: 2rem;
  background-color: #022e57;
  text-align: center;
  color: Black;
}

h2 {
  font-family: 'Modak', cursive;
  line-height: 1.5;
  font-size: 2rem;
}
.heading{
padding-top: 3rem;
padding-bottom: 1px;
}
#T2{
  height: 28rem;
  background-image: url('images/image1.jpg');
}
.imgt{
  padding: 2rem;
}


.text2{
  margin-top: 10%;
  padding-bottom: 4%;
}

/* CTA Section */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  line-height: 1.5rem;
}

.cta-heading{
  font-family:  'Modak', cursive;
  font-size: 3.5rem;
  line-height: 1.5rem;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
